.nav-container {
    padding: 15px; /* Add padding around the entire navigation bar */
  }
  

.increased-height {
    height: 70px; /* Adjust height value as needed */
    display: flex;
    justify-content: space-between; /* Distribute items along the main axis */
    align-items: center; /* Vertically center items */
    padding: 20px 20px; /* Add padding to the top, right, and left sides of the navigation bar */
    background-color: #DDE8F0; /* Set the background color */
    font-family: "Glacial Indifference", sans-serif; /* Set the font to Glacial Indifference */
    position: relative; /* Add position relative */
    z-index: 3; /* Ensure the navigation bar is in the most front */
    border-top-left-radius: 20px; /* Add rounded corner to top left */
    border-top-right-radius: 20px; /* Add rounded corner to top right */
}

.w3-button.w3-bar-item {
    display: flex;
    align-items: center; /* Vertically center items within the buttons */ 
}

.w3-bar-item {
    font-size: 140%; /* Increase font size */
    font-weight: 700; /* Use a bolder font weight */
    transition: font-size 0.7s ease; /* Add transition for smoother size change */
}

.increased-bar {
    height: 200px; /* Adjust height value as needed */
    display: flex;
    padding: 0 20px; /* Add padding to the left and right sides of the navigation bar */
    background-color: #DDE8F0; /* Set the background color */
}
  
.w3-bar-item {
    margin-left: 10px; /* Adjust margin as needed for spacing */
}

.w3-bar-item:first-child {
    margin-left: 0; /* Reset margin for the CBI item */
    margin-right: auto; /* Push the CBI item as far left as possible */
}
  
.mySlides {
    opacity: 0.5; /* Adjust opacity as needed */
    position: relative; /* Set position to relative */
    bottom: 0; /* Position the image at the bottom of its container */
    width: 100%; /* Make the image span the entire width of its container */
    z-index: 1; /* Ensure the image stays above other elements */
    height: 70vh; /* Set the height to fill the viewport */
    transition: transform 0.3s; /* Add transition effect for smoother position change */
    object-fit: cover; /* Ensure the image covers its container while maintaining aspect ratio */
}

.floating-text {
    position: absolute;
    top: 30%; /* Place the top of the element at the middle of its container */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 2;
}

.floating-text h1 {
    font-family: "Glacial Indifference", sans-serif;
    font-size: 6vw; /* Set font size using viewport width */
    font-weight: 700;
}

.floating-text img {
    width: 15%; /* Adjust the width of the logo */
    max-width: 130px; /* Set maximum width for the logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust the margin between the logo and text */
}

.floating-carrot {
    position: absolute;
    bottom: 0; /* Position at the bottom of the screen */
    left: 0;
    width: 100%;
    height: 10%; /* Adjust the height to avoid covering the footer buttons */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 2; /* Ensure the text is above the image */
}

.floating-carrot img {
    width: 55px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust the margin between the logo and text */
    padding: 50px 0; /* Add padding to the top, right, and left sides of the navigation bar */
}

/* Add rounded corners to all elements with the class "rounded-square" */
.rounded-square {
    border-radius: 10px; /* Adjust the value to change the roundness */
}

.w3-row-padding.w3-center {
    background-color: #DDE8F0; /* Set the background color */
    padding: 20px; /* Add padding to the section */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute space between items */
}

.w3-row-padding.w3-center .w3-third h1 {
    font-weight: bold; /* Bold the h1 elements within the .w3-third articles */
}

.w3-row-padding.w3-center {
    padding: 50px 0; /* Add padding to the top and bottom of the section */
}

.three-opportunities article img {
    border-radius: 10px; /* Adjust the border radius as needed */
}

.three-opportunities article a {
    text-decoration: none; /* Remove underline */
}

footer {
    background-color: #DDE8F0; /* Set the background color */
    border-bottom-left-radius: 20px; /* Curve the bottom left corner */
    border-bottom-right-radius: 20px; /* Curve the bottom right corner */
}

footer p {
    font-size: x-small; /* Reduce the font size */
}

footer a {
    text-decoration: none; /* Remove underline from anchor tags within the footer */
}

.organization-section {
    background-color: #DDE8F0;
    padding: 30px 10px; /* Add padding to the top and bottom, and 20px to the left and right sides */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.organization-info {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute items along the main axis */
}

.organization-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 20px;
}

.organization-details h2 {
    font-size: 55px;
    margin-bottom: 5px;
    font-family: "Glacial Indifference", sans-serif; /* Set the font to Glacial Indifference */
    font-weight: 600; /* Use a bolder font weight */
}

.organization-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.social-media-buttons a {
    display: inline-block;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 10px;
    font-family: "Glacial Indifference", sans-serif; /* Set the font to Glacial Indifference */
}

.social-media-buttons a:last-child {
    margin-right: 0;
}

/* Remove underlines from anchor tags */
a {
    text-decoration: none;
}

/* Add styles for smaller screens */
@media screen and (max-width: 430px) {
    .w3-bar-item {
        font-size: 4vw; /* Adjust font size as needed */
    }
}

/* Add styles for smaller screens */
@media screen and (max-width: 600px) {
    .w3-bar-item {
        font-size: 3.5vw !important; /* Adjust font size for smaller screens */
    }

    .organization-info {
        flex-direction: column; /* Stack the items vertically */
        align-items: center; /* Center items horizontally */
    }

    .organization-info h2{
        font-size: 7vw; /* Adjust font size for smaller screens */
    }

    .organization-image img {
        margin-right: 0; /* Remove the right margin */
        margin-bottom: 20px; /* Add space between the image and text */
    }
}

/* Media query for screens 800px or smaller */
@media screen and (max-width: 800px) {
    .floating-text {
        flex-direction: column; /* Stack the items vertically */
        text-align: center; /* Center the text */
        top: 28%; /* Place the top of the element at the middle of its container */
    }

    .floating-text img {
        order: -1; /* Move the image above the text */
        margin-right: 0; /* Remove the right margin */
        margin-bottom: 5px; /* Add space between the image and text */
    }

    .floating-text h1 {
        font-size: 7vw; /* Adjust font size for smaller screens */
    }
}