/* General Styles */
.nav-container {
    padding: 15px;
}

.logo-img {
    width: 40px;
    height: auto;
}

.increased-height {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #DDE8F0;
    font-family: "Glacial Indifference", sans-serif;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: visible; /* Override overflow property */
}

.events-dropdown .dropdown-content {
    right: 0;   
}

.w3-button.w3-bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.events-dropdown button.w3-bar-item {
    margin-left: -20px;
    padding: 8px 10px; /* Adjust padding as needed */
}

.w3-button.w3-bar-item:hover {
    background-color: #BBCED8;
    border-radius: 5px;
}

.w3-bar-item {
    font-size: 140%;
    font-weight: 700;
    transition: font-size 0.7s ease;
    margin: 0; /* Set margin to zero */
}

.increased-bar {
    height: 200px;
    display: flex;
    padding: 0 20px;
    background-color: #DDE8F0;
}

.w3-bar-item:first-child {
    margin-left: 0;
    margin-right: auto;
}

/* Slides */
.mySlides {
    opacity: 0.5;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1;
    height: 70vh;
    transition: transform 0.3s;
    object-fit: cover;
}

/* Floating Text */
.floating-text {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 2;
}

.floating-text h1 {
    font-family: "Glacial Indifference", sans-serif;
    font-size: 6vw;
    font-weight: 700;
}

.floating-text img {
    width: 15%;
    max-width: 130px;
    height: auto;
    margin-right: 10px;
}

/* Floating Carrot */
.floating-carrot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 2;
}

.floating-carrot img {
    width: 55px;
    height: auto;
    margin-right: 10px;
    padding: 50px 0;
}

/* Rounded Square */
.rounded-square {
    border-radius: 10px;
}

/* Row Padding */
.w3-row-padding.w3-center {
    background-color: #DDE8F0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.w3-row-padding.w3-center .w3-third h1 {
    font-weight: bold;
}

.w3-row-padding.w3-center {
    padding: 50px 0;
}

/* Opportunities */
.three-opportunities article img {
    border-radius: 10px;
}

.three-opportunities article a {
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #DDE8F0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer p {
    font-size: x-small;
}

footer a {
    text-decoration: none;
}

/* Organization Section */
.organization-section {
    background-color: #DDE8F0;
    padding: 30px 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.organization-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.organization-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 20px;
}

.organization-details h2 {
    font-size: 44px;
    margin-bottom: 5px;
    font-family: "Glacial Indifference", sans-serif;
    font-weight: 600;
}

.organization-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.social-media-buttons a {
    display: inline-block;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 10px;
    font-family: "Glacial Indifference", sans-serif;
}

.social-media-buttons a:last-child {
    margin-right: 0;
}

/* Dropdowns */
.dropdown-container {
    background-color: #DDE8F0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 10;
}

.filter-btn {
    background-color: #007bff;
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    white-space: nowrap;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 20;
    margin-left: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #DDE8F0;
    min-width: 250px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 10px;
    z-index: 2;
}

#clubSearch {
    width: 600px;
    border-radius: 10px;
    border: none;
    padding-left: 30px;
    background-image: url('../public/image/magglas.png');
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 8px center;
}

.filter-label {
    font-weight: bold;
    font-size: 18px;
}

.dropdown-content.show {
    display: block !important;
}

.sub-dropdown {
    padding-left: 20px;
}

.sub-dropdown span {
    display: block;
    font-weight: bold;
}

#eventsDropdownContent {
    display: none;
    position: absolute;
    background-color: #DDE8F0;
    min-width: 89px; /* Set a minimum width */
    width: auto; /* Let the width adjust based on content */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    left: 37%;
    transform: translateX(-50%);
    top: 100%;
    margin-top: 5px;
    z-index: 1000;
    padding: 0px; /* Adjust padding as needed */ 
}

#eventsDropdown {
    z-index: 15;
}

#eventsDropdownContent a {
    display: block;
    padding: 11px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
    font-weight: bold; /* Make the text bold */
    font-size: 140%;
    align-items: center;
    justify-content: center;
    
}

#eventsDropdownContent a:hover {
    background-color: #BBCED8;
    border-radius: 5px;
}

/* Media Queries */
@media screen and (max-width: 420px) {
    .w3-bar-item {
        font-size: 2.5vw !important;
    }
}

@media screen and (max-width: 600px) {
    .w3-bar-item, #eventsDropdownContent a {
        font-size: 3.5vw !important;
    }

    #eventsDropdownContent {
        min-width: 63px; /* Set a minimum width */
        left: 30%;
    }

    .organization-info {
        flex-direction: column;
        align-items: center;
    }

    .organization-info h2 {
        font-size: 7vw;
    }

    .organization-image img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 800px) {
    .floating-text {
        flex-direction: column;
        text-align: center;
        top: 28%;
    }

    .floating-text img {
        order: -1;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .floating-text h1 {
        font-size: 7vw;
    }
}
